@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.google.com/specimen/Work+Sans?query=work+sans');

body {
  padding-top: 15vh;
  padding-left: 25vh;
  padding-right: 25vh;
  padding-bottom: 10vh;
  font-family: 'work sans', cursive ;
  background-color: #101010;
  color: #FFFFFF;
  
}

.navbarContainer {
  min-width: 20%;
}

.content {
  padding-top: 20px;
  padding-left: 45px;

}

.contentContainer {
  width: 270px;
  height: 300px;
  margin-top: 25px;
  margin-right: px;
  margin-bottom: 5px;
  margin-left: 30px;
  
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.contentContainer div:nth-of-type(1) {
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  opacity: 1;
  top: 0;
  color: #f9d3b4;
}

.contentContainer:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.contentContainer div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.contentContainer div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}



.contentContainer:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.5;
}

.contentContainer:hover div:nth-of-type(3)  {
  background-color: transparent;
  
}

.contentContainer:hover div:nth-of-type(1) {
  opacity: 1;
}

.contentImage {
  width:150px;
  height:150px;
}

.gray {
  color: #ab9e9d;

}

.longmenupos {
  position: absolute;
  top: 250px;
  left: 240px;

}